.chart
{
    -fx-create-symbols: true;
}
.default-color0.chart-series-line {
    -fx-stroke: #bc0007;
    -fx-stroke-width: 2px;
}
.default-color0.chart-line-symbol {
    -fx-background-color: rgb(106,0,6);
}
